@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
  --dark-color: #212121;
}

body {
  background: #d9e2f5;
  /* font-family: system-ui; */
  text-align: center;
  margin-top: 40px;
  font-size: 1.5em;
}

h4 {
  font-weight: bold;
  margin-bottom: 1px;
}
h1 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 2em;
}

img {
  /* border-radius: 150%; */
  height: 120px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main * {
  margin-bottom: 12px;
}

input {
  /* width: 20%; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* width: 20; */
}

/* for styling the autocomplete style */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--dark-color) !important;
}

button {
  background: #8bc34a;
  color: #fff;
  border: none;
  font-size: 0.8em;
  padding: 5px 15px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
}
a {
  color: #6492f6;
}

/* dark mode css */
@media (prefers-color-scheme: dark) {
  body {
    background: var(--dark-color);
    color: #fff;
  }
  input,
  input:active {
    background: var(--dark-color);
    border-color: #fff;
    color: #fff;
  }

  /* for styling the autocomplete style */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
  }
}

header::before{
  background: url('./assests/bg.jpg') center center/cover no-repeat;
  content: "";
  position: absolute;
  top:0px;
  left: 0px;
  min-height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
}
/* header h4{
  font-family: 'Orbitron', sans-serif;
} */

.front{
  font-family: "Motiva Sans Bold sans-serif";
   color: #18216d;
   font-size:"5px";
   font-weight:"700";
}